<link rel="stylesheet" type="text/css" href="layui/css/layui.css" />
<script src="layui/layui.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<ul class="layui-nav layui-nav-tree layui-bg-molv layui-nav-side" lay-filter="test">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">数据查看</a>
        <dl class="layui-nav-child">
            <dd><a id="menu_project" href="DataBrowsing.html">数据一栏</a></dd>
            <dd><a id="menu_endMachine" href="dataChart.html">图表显示</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">系统配置</a>
        <dl class="layui-nav-child">
            <dd><a id="menu_devicetype" href="deviceconfig.html">高频采集设备配置</a></dd>
        </dl>
    </li>
</ul>