<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>树组件</title>
    <link rel="stylesheet" href="../src/css/layui.css" th:href="@{/lib/layui/css/layui.css}">

    <style type="text/css">
        #dept_main, #dept_particulars {
            width: 48.5%;
            display: inline-block;
            vertical-align: top;
            padding: 20px;
            background: white;
            box-sizing: border-box;
        }

        #dept_tree {
            margin-top: 20px;
        }</style>

</head>
<body>
<div id="dept_main" style="margin-right: 2%;">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>所有部门</legend>
    </fieldset>
    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" lay-demo="addDept"><i class="layui-icon">&#xe654;</i>添加部门
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal" lay-demo="gain">获取选中节点</button>
    <div id="dept_tree"></div>
</div>

<div id="dept_particulars">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>部门详情</legend>
    </fieldset>
    <div id="dept_home">
        <div class="layui-tree-emptyText">无数据</div>
    </div>
</div>


<script src="lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['tree', 'util'], function () {
        var tree = layui.tree;
        var util = layui.util;
        tree.render({
            elem: '#dept_tree',
            data: getData(),
            id: 'treeId',
            showCheckbox: true,     //是否显示复选框
            onlyIconControl: true
        });
    });

    function getData() {
        var data = [{
            "children": [		//子节点
                {
                    "children": [{"children": [], "id": 30, "title": "测试", "spread": true}, {
                        "children": [],
                        "id": 31,
                        "title": "开发",
                        "spread": true
                    }, {
                        "children": [{"children": [], "id": 36, "title": "测试节点", "spread": true}],
                        "id": 32,
                        "title": "测试",
                        "spread": true
                    }],
                    "id": 2,
                    "title": "技术部",
                    "spread": true
                }, {
                    "children": [],
                    "id": 19,
                    "title": "财务部",
                    "spread": true
                }],
            "id": 1,	//节点id
            "title": "某某公司",	//节点名称
            "spread": true
        }, {
            "children": [],
            "id": 33,
            "title": "测试",
            "spread": true
        }]

        // var data = [];
        // $.ajax({
        //     url: "dept/treeload",
        //     //后台数据请求地址
        //     type: "post",
        //     async: false,
        //     success: function (resut) {
        //         data = resut;
        //     }
        // });
        return data;
    }


</script>
</body>
</html>