<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}">
</head>
<body>


<div class="layui-card-body">
    <table class="layui-hide" id="test"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-input-inline layui-form">
            <select lay-filter="selected">
                <option th:value="0">上海市政协议</option><!--默认为0-->
                <option th:value="1">其他市政协议</option><!--为1-->
            </select>
        </div>
    </script>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"
       onclick="x_admin_show('查看','/contentDetails/?id={{d.id}}')" href="javascript:;">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="formatTpl">
    <textarea id="{{d.id}}" style="width: 100%;border:none; resize:none" > {{d.content}} </textarea>
</script>


<script src="js/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" src="../js/xadmin.js" th:href="@{/js/xadmin.js}"></script>
<script>

    layui.use(['form', 'table', 'layer', 'jquery'], function () {

        var kw = 0;//type
        addData(kw);

        var form = layui.form;
        form.on('select(selected)', function (data) {
            if (data.value == '0') {
                var kw = 0;//type
                alert("kw0:"+kw);
                addData(kw);
            } else if (data.value == '1') {
                var kw = 1;//type
                alert("kw1:"+kw);
                addData(kw);
            }
        });

    });

    function addData(kwx) {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '../../showTranspondData?keyWord=' + kwx
            , limit: 11 //默认为10
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', width: 80, title: 'ID', fixed: 'left'}
                    , {field: 'building_id', width: 200, title: '楼栋编号'}
                    , {field: '', title: '转发内容', align: 'center', templet: '#formatTpl'}//content
                    , {field: 'recordtime', width: 200, sort: false ,title: '转发记录时间', templet: function(d){
                        return Format(d.recordtime,"yyyy-MM-dd HH:mm:ss");
                    }
                }
                    , {field: 'result', width: 80, title: '返回结果'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {field: 'scope_stat', width: 100, title: '上传时段'}
                    , {field: 'type', width: 80, title: '转发协议类型'}
                    , {field: 'c_type', width: 80, title: '发送类型'}
                    , {field: 'project_id', width: 80, title: '项目id'}
                    , {fixed: 'right', width: 200, align: 'center', title: '操作', toolbar: '#barDemo'}

                ]
            ]
            , page: true
            , toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , done: function (res, curr, count) {
                //数据的回调用，可不写
            }
        });
    }


    function Format(datetime,fmt) {
        if (parseInt(datetime)==datetime) {
            if (datetime.length==10) {
                datetime=parseInt(datetime)*1000;
            } else if(datetime.length==13) {
                datetime=parseInt(datetime);
            }
        }
        datetime=new Date(datetime);
        var o = {
            "M+" : datetime.getMonth()+1,                 //月份
            "d+" : datetime.getDate(),                    //日
            "H+" : datetime.getHours(),                   //小时
            "m+" : datetime.getMinutes(),                 //分
            "s+" : datetime.getSeconds(),                 //秒
            "q+" : Math.floor((datetime.getMonth()+3)/3), //季度
            "S"  : datetime.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }



    $("#sear1").keyup(function (event) {
        if (event.keyCode == 13) {
            var keyWord = $("#sear1").val();
            addData(keyWord);
        }
    });


</script>

</body>
</html>
