<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jen.exceldevice.mapper.DeviceMapper">

    <!--describe关键字 -->
    <sql id="Base_Column_List">
        id,project_id,stastion_id,drive_id,link_id,name,`describe`,address,start_period,overtime_period,device_type_name,protocol_name,shsz_id,category_id,is_virtual,is_highgather
    </sql>

    <!--分页查询-->
    <select id="selectByPage" resultType="com.jen.exceldevice.pojo.Device">
        select
        <include refid="Base_Column_List"/>
        from tbl_device where
        <if test='keyWord!="" or keyWord!=null'>
            name LIKE '%${keyWord}%'
        </if>
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>

    </select>

    <!--查询总数-->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from tbl_device

    </select>


    <select id="selectInnerAll" resultType="java.lang.Integer">
        select count(*)
        from tbl_device
        INNER JOIN tbl_link
        on tbl_link.id = tbl_device.link_id
        INNER JOIN tbl_drive
        on tbl_drive.id= tbl_device.drive_id
        INNER JOIN tbl_stastion
        on tbl_stastion.id = tbl_device.stastion_id
        INNER JOIN tbl_project
        on tbl_project.id = tbl_device.project_id

        <where>
            <if test="projectId!= 0">
                AND tbl_project.id = #{projectId,jdbcType=INTEGER}
            </if>

            <if test="stastionName!= null">
                AND tbl_stastion.name = #{stastionName,jdbcType=VARCHAR}
            </if>

            <if test="driveProtocolName!= null">
                AND tbl_drive.protocol_name = #{driveProtocolName,jdbcType=VARCHAR}
            </if>
            <if test="linkName!= null">
                AND tbl_link.name = #{linkName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="selectDeviceInnerAll" resultMap="deviceResultMap">
    select
        tbl_stastion.`name` as stastionName,
        tbl_drive.protocol_name,
        tbl_link.`name` as linkName,
        tbl_device_category_type.shsz_code,

        tbl_device.`describe`,
        tbl_device.name as deviceName,
        tbl_device.address,
        tbl_device.device_type_name,
        tbl_device.overtime_period,
        tbl_device.is_highgather,
        tbl_device.shsz_id
    from tbl_device
    INNER JOIN  tbl_stastion
    on tbl_stastion.id = tbl_device.stastion_id
    INNER JOIN tbl_drive
    on  tbl_drive.id = tbl_device.drive_id
    INNER JOIN tbl_link
    on tbl_link.id = tbl_device.link_id
    INNER JOIN tbl_device_category_type
    on tbl_device_category_type.id = tbl_device.category_id
    </select>
    <resultMap id="deviceResultMap" type="Device">
        <id property="id" column="id"/>
        <result property="name" column="deviceName"/>
        <result property="describe" column="describe"/>
        <result property="address" column="address"/>
        <result property="device_type_name" column="device_type_name"/>
        <result property="overtime_period" column="overtime_period"/>
        <result property="is_highgather" column="is_highgather"/>
        <result property="shsz_id" column="shsz_id"/>
        <association property="stastion" javaType="com.jen.exceldevice.pojo.Stastion">
            <id property="id" column="id"/>
            <result property="name" column="stastionName"/>
        </association>
        <association property="drive" javaType="com.jen.exceldevice.pojo.Drive">
            <id property="id" column="id"/>
            <result property="protocol_name" column="protocol_name"/>
        </association>
        <association property="link" javaType="com.jen.exceldevice.pojo.Link">
            <id property="id" column="id"/>
            <result property="name" column="linkName"/>
        </association>
        <association property="deviceCategory" javaType="com.jen.exceldevice.pojo.DeviceCategory">
            <id property="id" column="id"/>
            <result property="shsz_code" column="shsz_code"/>
        </association>

    </resultMap>




    <insert id="insertDevice" parameterType="com.jen.exceldevice.pojo.DeviceCategory">
        insert into tbl_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                project_id,
            </if>
            <if test="stastion_id != 0">
                stastion_id,
            </if>
            <if test="drive_id != 0">
                drive_id,
            </if>
            <if test="link_id != 0">
                link_id,
            </if>
            <if test="name != null">
                name,
            </if>

            <if test="describe != null">
                `describe`,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="overtime_period != 0">
                overtime_period,
            </if>
            <if test="device_type_name != null">
                device_type_name,
            </if>
            <if test="protocol_name != null">
                protocol_name,
            </if>
            <if test="shsz_id != null">
                shsz_id,
            </if>
            <if test="category_id != 0">
                category_id,
            </if>
                is_virtual,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                #{project_id,jdbcType=INTEGER},
            </if>
            <if test="stastion_id != 0">
                #{stastion_id,jdbcType=INTEGER},
            </if>
            <if test="drive_id != 0">
                #{drive_id,jdbcType=INTEGER},
            </if>
            <if test="link_id != 0">
                #{link_id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>

            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="overtime_period != 0">
                #{overtime_period,jdbcType=INTEGER},
            </if>
            <if test="device_type_name != null">
                #{device_type_name,jdbcType=VARCHAR},
            </if>
            <if test="protocol_name != null">
                #{protocol_name,jdbcType=VARCHAR},
            </if>

            <if test="shsz_id != null">
                #{shsz_id,jdbcType=VARCHAR},
            </if>
            <if test="category_id != 0">
                #{category_id,jdbcType=INTEGER},
            </if>

                #{is_virtual,jdbcType=INTEGER},

        </trim>

    </insert>


</mapper>