<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DriveMapper">

    <select id="getDriveList" resultType="com.jen.exceldevice.pojo.Drive" parameterType="com.jen.exceldevice.pojo.Drive">
        select * from tbl_drive
        <where>
            <if test="project_id!= 0">
                AND project_id = #{project_id,jdbcType=INTEGER}
            </if>

            <if test="stastion_id!= 0">
                AND stastion_id = #{stastion_id,jdbcType=INTEGER}
            </if>

            <if test="protocol_name!= null">
                AND protocol_name = #{protocol_name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getDriveInnerAll"   resultMap="DriveResultMap" >
        select  tbl_drive.id ,
                tbl_drive.protocol_name,
                tbl_stastion.`name`
        from tbl_drive
        INNER JOIN tbl_project
        on tbl_project.id= tbl_drive.project_id
        INNER JOIN tbl_stastion
        on tbl_stastion.id = tbl_drive.stastion_id
    </select>

    <resultMap id="DriveResultMap" type="Drive">
        <id property="id" column="id"/>
        <result property="protocol_name" column="protocol_name"/>
        <association property="stastion" javaType="com.jen.exceldevice.pojo.Stastion">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>


    <insert id="insertDrive" parameterType="com.jen.exceldevice.pojo.Drive" >
        insert into tbl_drive(project_id,stastion_id,protocol_name)
        values(#{project_id,jdbcType=INTEGER},#{stastion_id,jdbcType=INTEGER}, #{protocol_name,jdbcType=VARCHAR})
    </insert>




</mapper>