<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DriveMapper">

    <select id="getDriveList" resultType="com.jen.exceldevice.pojo.Drive" parameterType="com.jen.exceldevice.pojo.Drive">
        select * from tbl_drive
        <where>
            <if test="project_id!= 0">
                AND project_id = #{project_id,jdbcType=INTEGER}
            </if>

            <if test="stastion_id!= 0">
                AND stastion_id = #{stastion_id,jdbcType=INTEGER}
            </if>

            <if test="protocol_name!= null">
                AND protocol_name = #{protocol_name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <insert id="insertDrive" parameterType="com.jen.exceldevice.pojo.Drive" >
        insert into tbl_drive(project_id,stastion_id,protocol_name)
        values(#{project_id,jdbcType=INTEGER},#{stastion_id,jdbcType=INTEGER}, #{protocol_name,jdbcType=VARCHAR})
    </insert>

<!--    <select id="getDriveListID" resultType="com.jen.exceldevice.pojo.Drive" parameterType="list">-->
<!--		select tbl_drive.id-->
<!--        from tbl_drive-->
<!--        INNER JOIN tbl_stastion-->
<!--        on tbl_stastion.id =tbl_drive.stastion_id-->
<!--        INNER JOIN tbl_project-->
<!--        on tbl_project.id =tbl_drive.project_id-->

<!--        where tbl_stastion.name= 'kdczd' and tbl_drive.protocol_name='MODBUS'-->
<!--        <where>-->
<!--            <foreach collection="list" item="item" separator="," open="(" close=")" index="">-->
<!--                -->
<!--            </foreach>-->
<!--        </where>-->
<!--	</select>-->


    <!--	<select id="getStastionList" resultType="com.jen.exceldevice.pojo.Stastion" parameterType="com.jen.exceldevice.pojo.Stastion">-->
    <!--		select * from tbl_stastion-->
    <!--		<where>-->
    <!--			<if test="project_id!= 0">-->
    <!--				AND project_id = #{project_id,jdbcType=INTEGER}-->
    <!--			</if>-->
    <!--			<if test="name!= null">-->
    <!--				AND name = #{name,jdbcType=INTEGER}-->
    <!--			</if>-->
    <!--		</where>-->
    <!--	</select>-->

    <!--<insert id="insertStastion" parameterType="com.jen.exceldevice.pojo.Stastion">-->
    <!--	insert into tbl_stastion (project_id,name)-->
    <!--	values(#{project_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})-->
    <!--</insert>-->


    <!--	<update id="updateStasttion" parameterType="com.jen.exceldevice.pojo.Stastion">-->
    <!--		update tbl_stastion-->
    <!--		<set>-->
    <!--			<if test="name != null">-->
    <!--				m_password = #{name,jdbcType=VARCHAR}-->
    <!--			</if>-->
    <!--		</set>-->
    <!--		where id = #{id,jdbcType=INTEGER} and  project_id = #{project_id,jdbcType=INTEGER}-->
    <!--	</update>-->


</mapper>