<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LinkMapper">

    <select id="getLinkList" resultType="com.jen.exceldevice.pojo.Link" parameterType="com.jen.exceldevice.pojo.Link">
        select * from tbl_link
        <where>
            <if test="project_id!= 0">
                AND project_id = #{project_id,jdbcType=INTEGER}
            </if>

            <if test="stastion_id!= 0">
                AND stastion_id = #{stastion_id,jdbcType=INTEGER}
            </if>
            <if test="drive_id!= 0">
                AND drive_id = #{drive_id,jdbcType=INTEGER}
            </if>

            <if test="name!= null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>

        </where>
    </select>

    <select id="getLinkInnerAll" resultMap="LinkResultMap">
        select
            tbl_drive.protocol_name,
            tbl_stastion.`name`,
            tbl_link.id,
            tbl_link.`name` as linkName,
            tbl_link.ipaddress,
            tbl_link.`port` ,
            tbl_link.portid,
            tbl_link.type
        from tbl_link
        INNER JOIN tbl_project
        on tbl_project.id = tbl_link.project_id
        inner join tbl_stastion
        on tbl_stastion.id = tbl_link.stastion_id
        INNER JOIN tbl_drive
        on tbl_drive.id = tbl_link.drive_id
    </select>
    <resultMap id="LinkResultMap" type="Link">
        <id property="id" column="id"/>
        <result property="name" column="linkName" />
        <result property="ipaddress" column="ipaddress"/>
        <result property="port" column="port"/>
        <result property="portid" column="portid"/>
        <result property="type" column="type"/>
        <association property="stastion" javaType="com.jen.exceldevice.pojo.Stastion">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <association property="drive" javaType="com.jen.exceldevice.pojo.Drive">
            <id property="id" column="id"/>
            <result property="protocol_name" column="protocol_name"/>
        </association>
    </resultMap>

    <insert id="insertLink" parameterType="com.jen.exceldevice.pojo.Link">
        insert into tbl_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                project_id,
            </if>
            <if test="stastion_id != 0">
                stastion_id,
            </if>
            <if test="drive_id != 0">
                drive_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="ipaddress != null">
                ipaddress,
            </if>
            <if test="port != 0">
                port,
            </if>
            <if test="portid != null">
                portid,
            </if>
            type

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                #{project_id,jdbcType=INTEGER},
            </if>
            <if test="stastion_id != 0">
                #{stastion_id,jdbcType=INTEGER},
            </if>
            <if test="drive_id != 0 ">
                #{drive_id,jdbcType=INTEGER},
            </if>
            <if test="name != null ">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="ipaddress != null">
                #{ipaddress,jdbcType=VARCHAR},
            </if>
            <if test="port != 0">
                #{port,jdbcType=INTEGER},
            </if>
            <if test="portid != null">
                #{portid,jdbcType=VARCHAR},
            </if>
            #{type,jdbcType=INTEGER}

        </trim>

    </insert>


</mapper>