<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LinkMapper">

    <select id="getLinkList" resultType="com.jen.exceldevice.pojo.Link" parameterType="com.jen.exceldevice.pojo.Link">
        select * from tbl_link
        <where>
            <if test="project_id!= 0">
                AND project_id = #{project_id,jdbcType=INTEGER}
            </if>

            <if test="stastion_id!= 0">
                AND stastion_id = #{stastion_id,jdbcType=INTEGER}
            </if>
            <if test="drive_id!= 0">
                AND drive_id = #{drive_id,jdbcType=INTEGER}
            </if>

            <if test="name!= null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>

<!--            <if test="ipaddress!= null">-->
<!--                AND ipaddress = #{ipaddress,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="port!= 0">-->
<!--                AND port = #{port,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="portid!= null">-->
<!--                AND portid = #{portid,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="type!= 0">-->
<!--                AND type = #{type,jdbcType=INTEGER}-->
<!--            </if>-->
        </where>
    </select>



    <insert id="insertLink" parameterType="com.jen.exceldevice.pojo.Link">
        insert into tbl_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                project_id,
            </if>
            <if test="stastion_id != 0">
                stastion_id,
            </if>
            <if test="drive_id != 0">
                drive_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="ipaddress != null">
                ipaddress,
            </if>
            <if test="port != 0">
                port,
            </if>
            <if test="portid != null">
                portid,
            </if>
                type

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="project_id != 0">
                #{project_id,jdbcType=INTEGER},
            </if>
            <if test="stastion_id != 0">
                #{stastion_id,jdbcType=INTEGER},
            </if>
            <if test="drive_id != 0 ">
                #{drive_id,jdbcType=INTEGER},
            </if>
            <if test="name != null ">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="ipaddress != null">
                #{ipaddress,jdbcType=VARCHAR},
            </if>
            <if test="port != 0">
                #{port,jdbcType=INTEGER},
            </if>
            <if test="portid != null">
                #{portid,jdbcType=VARCHAR},
            </if>
                #{type,jdbcType=INTEGER}

        </trim>

    </insert>




</mapper>